# Method 1:

Creating function for calculations based on Haversine formula using math module

<img src = 'https://miro.medium.com/v2/resize:fit:720/format:webp/1*6amISXF-p34a4H9xRoJk1Q@2x.png'>

In [1]:
# Importing main libraries:
import math
from math import radians, cos, sin, asin, sqrt

In [2]:
import pandas as pd

In [3]:
# Writing function for calculating distance in km:
def distance_1(lat1, lon1, lat2, lon2):
    lt1 = radians(lat1)
    ln1 = radians(lon1)
    lt2 = radians(lat2)
    ln2 = radians(lon2)
    
    delta_lt = lt2 - lt1
    delta_ln = ln2 - ln1
    
    P = sin(delta_lt/2)**2 + cos(lt1)*cos(lt2)*sin(delta_ln/2)**2
    result = round(2 * 6371 * asin(sqrt(P)), 2)
    return result

In [4]:
# Cheking our function:
distance_1(19.0760, 72.8777, 18.5204, 73.8567)

120.15

In [5]:
df = pd.read_csv('flights_destinations.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6032 entries, 0 to 6031
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   origin_airport           6032 non-null   object
 1   destination_airport      6032 non-null   object
 2   home_airport_lat         6032 non-null   float64
 3   home_airport_lon         6032 non-null   float64
 4   destination_airport_lat  6032 non-null   float64
 5   destination_airport_lon  6032 non-null   float64
dtypes: float64(4), object(2)
memory usage: 282.9+ KB

In [6]:
# Applying the function
df['distance_km_1'] = df.apply(lambda x: distance_1(x['home_airport_lat'], 
                                               x['home_airport_lon'], 
                                               x['destination_airport_lat'],
                                               x['destination_airport_lon']), axis=1)

In [7]:
df.head()

,origin_airport,destination_airport,home_airport_lat,home_airport_lon,destination_airport_lat,destination_airport_lon,distance_km_1
0,AKR,AUS,41.038,-81.467,30.194,-97.670,1891.56
1,AKR,DEN,41.038,-81.467,39.858,-104.667,1961.74
2,AKR,DTW,41.038,-81.467,42.409,-83.010,199.09
3,AKR,FTW,41.038,-81.467,32.820,-97.362,1678.49
4,AKR,HLZ,41.038,-81.467,43.173,-79.935,268.93

# Method 2:

Using haversine module to use the haversine formula

In [8]:
pip install haversine

Requirement already satisfied: haversine in c:\users\97252\anaconda3\lib\site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Importing haversine module:
import haversine as hs   
from haversine import Unit

In [10]:
# Writing function:
def distance_haversine(lat1, lon1, lat2, lon2):
    loc1 = (lat1, lon1)
    loc2 = (lat2, lon2)
    result = hs.haversine(loc1, loc2, unit=Unit.KILOMETERS)
    return round(result, 2)

In [11]:
# Cheking our function:
distance_haversine(19.0760, 72.8777, 18.5204, 73.8567)

120.15

In [12]:
# Applying function
df['distance_km_2'] = df.apply(lambda x: distance_haversine(x['home_airport_lat'], 
                                               x['home_airport_lon'], 
                                               x['destination_airport_lat'],
                                               x['destination_airport_lon']), axis=1)

In [13]:
df.head()

,origin_airport,destination_airport,home_airport_lat,home_airport_lon,destination_airport_lat,destination_airport_lon,distance_km_1,distance_km_2
0,AKR,AUS,41.038,-81.467,30.194,-97.670,1891.56,1891.57
1,AKR,DEN,41.038,-81.467,39.858,-104.667,1961.74,1961.75
2,AKR,DTW,41.038,-81.467,42.409,-83.010,199.09,199.09
3,AKR,FTW,41.038,-81.467,32.820,-97.362,1678.49,1678.49
4,AKR,HLZ,41.038,-81.467,43.173,-79.935,268.93,268.93

# Method 3:

Using Geodesic Distance

In [14]:
pip install geopy

Requirement already satisfied: geopy in c:\users\97252\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\97252\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
# Import the geodesic module from geopy library
from geopy.distance import geodesic as GD

In [16]:
# Writing the function for calculation distance in km:
def distance_geopy(lat1, lon1, lat2, lon2):
    coor1 = (lat1, lon1)
    coor2 = (lat2, lon2)
    result = GD(coor1, coor2).km
    return round(result, 2)

In [17]:
# Cheking functions work:
distance_haversine(33.942, -118.408, 40.64, -73.779)

3974.22

In [18]:
# Applying function:
df['distance_km_3'] = df.apply(lambda x: distance_geopy(x['home_airport_lat'], 
                                               x['home_airport_lon'], 
                                               x['destination_airport_lat'],
                                               x['destination_airport_lon']), axis=1)

In [19]:
df.head()

,origin_airport,destination_airport,home_airport_lat,home_airport_lon,destination_airport_lat,destination_airport_lon,distance_km_1,distance_km_2,distance_km_3
0,AKR,AUS,41.038,-81.467,30.194,-97.670,1891.56,1891.57,1892.43
1,AKR,DEN,41.038,-81.467,39.858,-104.667,1961.74,1961.75,1966.68
2,AKR,DTW,41.038,-81.467,42.409,-83.010,199.09,199.09,199.17
3,AKR,FTW,41.038,-81.467,32.820,-97.362,1678.49,1678.49,1680.27
4,AKR,HLZ,41.038,-81.467,43.173,-79.935,268.93,268.93,268.87

### Conclusion:
We calculated the distance between two geographical coordinates using three methods: manual computation with the Haversine formula, utilizing the Haversine module, and employing the geodesic module. The first two methods yielded identical results, while the third method produced a slightly different outcome. Generally, geodesic modules offer increased accuracy for long distances and high-precision geographic calculations. However, in our specific case, the variation introduced by the third method is not expected to significantly impact the results.